
    <app-brainvis-canvas #canvas z-index="998"> 
    </app-brainvis-canvas>

    <div id="bottom-container">
      <app-provenance-slides #slides></app-provenance-slides>
    </div>
    <div id="side-container">
      <div id="side-child"><app-provenance-visualization #provvis z-index="997"></app-provenance-visualization></div>
      <mat-slider
      class="provslider"
      [max]="30"
      [min]="0"
      [step]="1"
      [thumbLabel]="true"
      [tickInterval]="5"
      [(ngModel)]="slider_value"
      [vertical]="true"
      style="height: 300px;"
      matTooltip="Provenance-Grouping Slider"
    ></mat-slider>
    </div>
    <div style="height:0px;">
      <input
          #multipleInput
          id="filesel"
          style="display:none;"
          type="file"
          name="images"
          multiple
          (change)="onselect_submit($event, canvas.load_stl_models)"
          />
    </div>
    <div>
      <button id="demo_btn" mat-icon-button (click)="canvas.load_demo()" title="Load Demo Models" style="cursor: pointer;">
        <mat-icon>school</mat-icon>
      </button>
      <button id="upload_btn" mat-icon-button onclick="filesel.click()" title="Load STL files" style="cursor: pointer;">
        <mat-icon>cloud_upload</mat-icon>
      </button>
      <button id="saveprov_btn" mat-icon-button (click)="provvis.downloadJson()" title="Save Prov files(json)" style="cursor: pointer;">
        <mat-icon>cloud_download</mat-icon>
      </button>
      <button id="sidenav-trigger" mat-icon-button (click)="onSidenavToggle(); provvis.update();" title="Provenance Tool" style="cursor: pointer;">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <!-- <div id="cpus">
      <app-cpu-gpu-usage></app-cpu-gpu-usage>
    </div> -->
    <div id="instructions">L-click (cam mode): Rotate camera <br />
      R-click (cam mode): Pan camera <br />
      Double-click: Select Object <br />
      C: Camera mode<br />
      R (object mode) : Rotate Object<br />
      T (object mode): Translate Object<br />
      A (annotation mode): Add annotation on Object</div>

