
    <app-brainvis-canvas #canvas z-index="998"> 
    </app-brainvis-canvas>

    <div id="bottom-container">
      <app-provenance-slides #slides></app-provenance-slides>
    </div>
    <div id="side-container">
      <div id="side-child"><app-provenance-visualization #provvis z-index="997"></app-provenance-visualization></div>
      <mat-slider
      class="provslider"
      [max]="30"
      [min]="0"
      [step]="1"
      [thumbLabel]="true"
      [tickInterval]="5"
      [(ngModel)]="slider_value"
      [vertical]="true"
      style="height: 300px;"
    ></mat-slider>
    </div>
    <div style="height:0px;">
      <input
          #multipleInput
          id="filesel"
          style="display:none;"
          type="file"
          name="images"
          multiple
          (change)="onselect_submit($event, canvas.load_stl_models)"
          />
    </div>
    <div>
      <button id="upload_btn" mat-icon-button onclick="filesel.click()" title="Load STL files" style="cursor: pointer;">
        <mat-icon>cloud_upload</mat-icon>
      </button>
      <button id="saveprov_btn" mat-icon-button onclick="filesel.click()" title="Save Prov files(json)" style="cursor: pointer;">
        <mat-icon>cloud_download</mat-icon>
      </button>
      <button id="sidenav-trigger" mat-icon-button (click)="onSidenavToggle(); provvis.update();" title="Provenance Tool" style="cursor: pointer;">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div id="instructions">L-click (cam mode): Rotate camera &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;R-click (cam mode): Pan camera &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Double-click: Select Object &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <br />C: Camera mode&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;R (object mode) : Rotate Object&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;T (object mode): Translate Object</div>

