app-brainvis-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
#gui { position: absolute; top: 2px; left: 2px; overflow-y: auto !important; max-height: 75%;}

#bottom-container {
  position: absolute;
  display: block;
  bottom: 0;

  height: 15%;
  width: 80%;
  background-color: #fafafa;
  transition: display 0.5s ease-in-out;
  z-index: 1000;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#side-container {
  position: absolute;
  display: block;
  right: 0;
  
  height: 100%;
  width: 20%;
  background-color: #fafafa;
  transition: display 0.5s ease-in-out;
  z-index: 1000;
  overflow-x:auto;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


#instructions {
  color: white;
  position: absolute;
  left: calc(180px + 2%);
  top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  line-height: 1.5;
  max-width: 400px;
  font-family: monospace;
  -moz-user-select: none; /* For Firefox */
  -webkit-user-select: none; /* For Safari */
  -ms-user-select: none; /* For IE 10+ */
  user-select: none; /* Standard syntax */
}

#filesel {
  right: 0px;
  top: 20px;
  width: 100%;
  height: 100%;
  color: white;
}

#fileup {
  right: 210px;
  top: 60px;
  width: 100%;
  height: 100%;
}

#sidenav-trigger {
  color: white;
  position: absolute;
  right:20%;
  z-index: 9999;
  transition: display 0.5s ease-in-out;
}
#sidenav-trigger:hover {
  color: black;
}
#upload_btn {
  display: flex; /* enables flex layout */
  justify-content: center; /* centers content horizontally */
  align-items: center; /* centers content vertically */
  line-height: 7px;
  border: none;
  color: white;

  position: absolute;
  right : 22%;
  transition: all 0.3s ease;

  z-index: 9999;
}

#upload_btn:hover {
  color: black; /* color on mouse hover */
}

#saveprov_btn {
  position: absolute;
  right: 24.5%;
  color: white;
  border: none;
  border-radius: 0; 
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

#saveprov_btn b {
  font-size: 12px;
  text-align: center;
}

#saveprov_btn .icons {
  display: none;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 120%);
  padding: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  z-index: 1000;
}

#saveprov_btn .icons::before {
  content: "";
  position: absolute;
  top: -25%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: white transparent transparent transparent;
  transform: rotate(180deg); /* Rotate the arrow */

}

#saveprov_btn .icons button {
  background: none;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

#saveprov_btn:hover .icons {
  display: block;
}

#saveprov_btn:hover {
  color: black;
}

#demo_btn {
  text-align: center;
  font-size: 19px;
  border-radius: 50%;
  color:rgb(255, 255, 255);
  justify-content: center;
  text-decoration: none;
  position: absolute;
  right : 27%;
  z-index: 9999;
  transition: all 0.3s ease;
}

#demo_btn:hover {
  color: black; /* color on mouse hover */
}


.provslider {
  top: 27%;
  left: 0%;
  display: flex;
  flex-direction: column;
  overflow-x: visible;
  z-index: 1;
  overflow: visible; /* Set the overflow property to visible */
  user-select: none;
  -moz-user-select: none; /* For Firefox */
  -webkit-user-select: none; /* For Safari */
  -ms-user-select: none; /* For IE 10+ */
  user-select: none; /* Standard syntax */
}

.mat-tooltip {
  font-size: 18px; /* your desired font size */
}


.annotation {
  position: absolute;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
  pointer-events: none; /* This makes the annotation 'click-through' */
}

.mode-widget {
  position: absolute;
  width: 90px;
  height: 80px;
  top: 40px;
  right: 21%;
  background-color: #60aa85;
  color: #FFF;
  border: 1px solid #60aa85;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 18px;
  z-index: 9999;
  word-wrap: break-word;
  padding: 2px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  text-align: center;
}