app-brainvis-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
#gui { position: absolute; top: 2px; left: 2px; overflow-y: auto !important; max-height: 80vh;}

#bottom-container {
  position: absolute;
  display: block;
  bottom: 0;

  height: 15%;
  width: 80%;
  background-color: #fafafa;
  transition: display 0.5s ease-in-out;
  z-index: 1000;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#side-container {
  position: absolute;
  display: block;
  right: 0;
  
  height: 100%;
  width: 20%;
  background-color: #fafafa;
  transition: display 0.5s ease-in-out;
  z-index: 1000;
  overflow-x:auto;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#instructions {
  color: white;
  position: absolute;
  left: 50%;
  top: 10px;
  margin-left: -120px;
  font-family: monospace;
}



#instructions {
  color: white;
  position: absolute;
  left: 50%;
  top: 10px;
  margin-left: -420px;
  font-family: monospace;
  -moz-user-select: none; /* For Firefox */
  -webkit-user-select: none; /* For Safari */
  -ms-user-select: none; /* For IE 10+ */
  user-select: none; /* Standard syntax */
}

#filesel {
  right: 0px;
  top: 20px;
  width: 100%;
  height: 100%;
  color: white;
}

#fileup {
  right: 210px;
  top: 60px;
  width: 100%;
  height: 100%;
}

#sidenav-trigger {
  color: white;
  position: absolute;
  right:20%;
  z-index: 9999;
}

#upload_btn {
  text-align: center;
  font-size: 19px;
  border-radius: 50%;
  color:rgb(255, 255, 255);
  justify-content: center;
  text-decoration: none;
  position: absolute;
  right : 22%;
  z-index: 9999;
}
#saveprov_btn {
  text-align: center;
  font-size: 19px;
  border-radius: 50%;
  color:rgb(255, 255, 255);
  justify-content: center;
  text-decoration: none;
  position: absolute;
  right : 24.5%;
  z-index: 9999;
}

#demo_btn {
  text-align: center;
  font-size: 19px;
  border-radius: 50%;
  color:rgb(255, 255, 255);
  justify-content: center;
  text-decoration: none;
  position: absolute;
  right : 27%;
  z-index: 9999;
}

.provslider {
  top: 23%;
  left: -1.5%;
  display: flex;
  flex-direction: column;
  overflow-x: visible;
  z-index: 1100;
}
.provslider .mat-slider-thumb-label {
  transform: translateY(50%) rotate(-90deg) !important;
  transform-origin: right center !important;
}


.annotation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin-left: 15px;
  margin-top: 15px;
  padding: 1em;
  width: 200px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  border-radius: .5em;
  font-size: 12px;
  line-height: 1.2;
  transition: opacity .5s;
}

.annotation::before {
  content: '1';
  position: absolute;
  top: -30px;
  left: -30px;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}