<html>
  <head>
    <!-- Add icon library -->
    <link rel="stylesheet"
          href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      h1 {
          color: green;
      }
      .btn {
          background-color: light-green;
          padding: 12px 16px;
          font-size: 16px;
      }
      .btn:hover {
          background-color: green;
      }
    </style>
</head>

  <!-- <button class="btn_toggle" (click)="toggle()">
    <i class="fa fa-bolt"></i>
 
  <div style="text-align: center;">
  <form>
    <div>
      <input #singleInput type="file" name="image" (change)="selectImage($event)">
    </div>
    <br>
    <div>
      <button type="submit" (click)="onSubmit()">Upload</button>
    </div>
 
     <ng-template [ngIf]="displaySingleImage" [ngIfElse]="elseSingleImageTemplate">
    <div>Images Uploaded</div>
    <ul>
      <li *ngFor='let image of displaySingleImageArray'>
        <img src="http://localhost:3000/{{image}}"/>
      </li>
    </ul>
  </ng-template>
 
  <ng-template #elseSingleImageTemplate>
    <br /><br />
    <div>Please Upload Some Images</div>
  </ng-template>
 
  </form>
</div>
  -->
 
<button class="btn_toggle" (click)="toggle()">
<i class="fa fa-bolt"></i>  
<hr />
<h2 style="text-align: center">Multiple</h2>
<div style="text-align: center">
  <form *ngIf="show">
    <div>
      <input
        #multipleInput
        type="file"
        name="images"
        multiple
        (change)="selectMultipleImage($event)"
      />
    </div>
    <br />
    <div>
      <button type="submit" (click)="onMultipleSubmit()">
        Multiple Upload
      </button>
    </div>
  </form>
  <ng-template
    [ngIf]="displayMultipleImages"
    [ngIfElse]="elseMultipleImagesTemplate"
  >
    <div>Images Uploaded</div>
    <ul>
      <li *ngFor='let image of displayMultipleImageArray'>
        <img src="http://localhost:3000/{{image}}"/>
      </li>
    </ul>
  </ng-template>
 
  <ng-template #elseMultipleImagesTemplate>
    <br /><br />
    <div>Please Upload Some Images</div>
  </ng-template>
</div>