app-provenance-visualization {
    height: 100%;
    width: 300px;
    display: block;
    background-color: white;
}


.node {
    fill: lightsteelblue;
    stroke: steelblue;
    cursor: pointer;
}

.node circle {
    stroke-width: .3px;
    stroke: #000000;
    opacity: 1;
}

.node circle.keynode {
    stroke: #000000;
}

.node circle.bookmarked {
    stroke: #ff0000;
    stroke-width: 1.5px;
  }

.node circle.intent_none {
    fill: #b0c4de;
}

.node circle.intent_exploration {
    fill: #60aa85;
}

.node circle.intent_configuration {
    fill: #b8852c;
}

.node circle.intent_selection {
    fill: #286090;
}

.node circle.intent_derivation {
    fill: #a94442;
}

.node circle.intent_provenance {
    fill: #9210dd;
}

.node.branch-active {    
    background-color: #ccc;
}

.node.branch-active text {
    display: block;
    font-size: 5px!important;
}
.node.branch-active.node circle {
    opacity: 1;
    
}

.node.node-active {    
    stroke: #4ba3bd;    
}

.node.node-active circle {
    stroke: #000000;
    stroke-width: 1.5px;
}

.node text {
    display: none;
    /* fill: white; */
    
    fill: #000;
    stroke-width: 0;
    font-family: sans-serif;
    font-size: 10px!important;
}

.circle-text {
    font-size: 6px;
    display: block;
    dominant-baseline: central;  /* for firefox */
  }
  
  .circle-label {
    font-size: 7px;
  }
  
  .hiddenClass {
    display: none;
  }
  .container {
    background-color: #fffafa;
    position: absolute;
    bottom: 0px;
  }

.link {
    fill: none;
    /* stroke: white; */
    stroke: #000;
    stroke-width: .2px;
}

.link.active {
    /* stroke: white; */
    stroke: #000;
    stroke-width: 0.8px;
}